<p>Hello {{ username }},</p>
<p>Thank you for signing up for {{ service }}. To complete your registration, please confirm your email address by clicking the link below:</p>
<p><a href="{{link}}">Confirmation link</a></p>
<p>If you did not sign up for {{ service }}, please ignore this email.</p>

